.dropdown_tail_yes .dropdown__menu
{
    position: relative;
    z-index: 2; /* brings menu to front of the tail */
}

.dropdown__menu .menu__item
{
    /* TODO: fallback; */
    border-bottom: 1px solid rgba(255,255,255,.1);
}

.dropdown__menu .menu__item_position_last
{
    border-bottom: 0;
}

.dropdown__menu .menu__item:hover
{
    border-color: transparent;
}

.dropdown__menu .b-link
{
    display: block;

    padding: 0 14px;

    white-space: nowrap;

    color: #fff;

    /*text-shadow: 0 1px 0 #6dc0d8;*/
}

.dropdown__menu .b-link:hover
{
    background: #22a3c6;
    background: -moz-linear-gradient(top,  #39b4d1 0%, #178eb6 100%);
    background: -webkit-linear-gradient(top,  #39b4d1 0%,#178eb6 100%);
    background: -o-linear-gradient(top,  #39b4d1 0%,#178eb6 100%);
    background: linear-gradient(top,  #39b4d1 0%,#178eb6 100%);    
}

.dropdown__menu .menu__item_position_first .b-link
{
    -webkit-border-top-left-radius: 7px;
    -webkit-border-top-right-radius: 7px;
    -moz-border-radius-topleft: 7px;
    -moz-border-radius-topright: 7px;
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;
}


.dropdown__menu .menu__item_position_last .b-link
{
    -webkit-border-bottom-left-radius: 7px;
    -webkit-border-bottom-right-radius: 7px;
    -moz-border-radius-bottomleft: 7px;
    -moz-border-radius-bottomright: 7px;
    border-bottom-left-radius: 7px;
    border-bottom-right-radius: 7px;
}