.dropdown_tail_yes .dropdown__menu
{
    position: relative;
    z-index: 2; /* brings menu to front of the tail */
}

.dropdown__menu .menu__item_position_last
{
    border-bottom: 0;
}

.dropdown__menu .b-link
{
    display: block;

    padding: 0 35px 0 14px;

    border-top: 1px solid #d7dbdc;
    box-shadow: 0 1px 0 rgba(255, 255, 255, 0.4) inset;

    white-space: nowrap;
    font-weight: bold;
    text-shadow: 0 1px 0 #fff;
}