.dropdown_theme_white
{    
    border: 1px solid #4F5050;
    border-radius: 4px 0 4px 4px;

    background: #f0f2f3;

    box-shadow: 0px 3px 5px rgba(0, 0, 0, .3);
}

.dropdown_theme_white .dropdown__menu .b-link
{
    color: #4a5760;
}

.dropdown__switcher_state_on
/* TODO: it should be .dropdown_theme_white .dropdown__switcher_state_on */
{
    background: #f0f2f3;
}

.dropdown_theme_white .dropdown__menu .menu__item_position_first .b-link
{
    -webkit-border-top-left-radius: 3px;
    -moz-border-radius-topleft: 3px;
    border-top-left-radius: 3px;
}


.dropdown_theme_white .dropdown__menu .menu__item_position_last .b-link
{
    -webkit-border-bottom-left-radius: 3px;
    -webkit-border-bottom-right-radius: 3px;
    -moz-border-radius-bottomleft: 3px;
    -moz-border-radius-bottomright: 3px;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
}

.dropdown_theme_white .dropdown__switcher_state_on
{
    border-color: #4F5050;

    -webkit-border-top-left-radius: 3px;
    -webkit-border-top-right-radius: 3px;
    -moz-border-radius-topleft: 3px;
    -moz-border-radius-topright: 3px;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;

    box-shadow: inset 0px 1px 0px rgba(255, 255, 255, .2), 0px -1px 5px rgba(0, 0, 0, .3);
}