.user
{
    position: relative;

    float: right;

    line-height: 30px;
    margin-top: 4px;    

    cursor: pointer;
}

.user .dropdown__switcher
{
    padding: 0 5px 0 7px;
}

.user .dropdown__popup
{
    right: 0;
    top: 32px;

    min-width: 100%;
}

.dropdown_state_shown .user__username
{
    color: #4a5760;
    text-shadow: none;
}