.user
{
    position: relative;

    float: right;

    line-height: 27px;
    margin-top: 7px;
    padding: 0 14px 0 16px;

    cursor: pointer;
}

/* TODO: not useful for appcurl now; */
/*.user:before
{
    content: '';

    position: absolute;
    left: 0;
    top: 12px;

    height: 24px;

    border-left: 1px solid #1688b2;
    border-right: 1px solid #32b5d6;    
}*/

.user .dropdown
{
    right: -1px;
    top: 29px;
}