.dashboard
{
    position: relative;

    float: left;

    padding: 0 5px;
    margin-right: 6px;

    line-height: 47px;
}

.dashboard:after
{
    content: '';

    position: absolute;
    right: 0;
    top: 10px;

    height: 24px;

    border-left: 1px solid #1688b2;
    border-right: 1px solid #32b5d6;    
}