.dropdown__popup
{
    position: absolute;    
    
    z-index: 1003;
    
    display: none;
    opacity: 0;

    -webkit-transition: opacity 200ms;
    -moz-transition: opacity 200ms;
    transition: opacity 200ms;
}

.dropdown_state_shown .dropdown__popup
{
    opacity: 1;
    display: block;
}