.notification
{
    position: relative;

    float:left;

    width: 36px;
    height: 46px;

    cursor: pointer;
}

.notification__icon
{
    position: absolute;
    left: 50%;
    top: 50%;

    margin: -8px 0 0 -8px;
    padding: 15px 16px 0 0;

    background: url(notification.png) no-repeat;
}